* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-sizing-adjust: 100%;
  -moz-text-sizing-adjust: 100%;
  -webkit-text-sizing-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.wrapper {
  width: 93%;
  margin: 0 auto;
}

.header {
  background-color: #212429;
  height: 345px;
  position: relative;
}

.header__line {
  display: flex;
  justify-content: space-between;
}

.header__menu-burger {
  color: #999999;
  font-size: 30px;
  justify-content: flex-start;
}

.header__logo {
  position: absolute;
  top: 10px;
  left: 45%;
}

.header-button {
  padding: 20px;
  display: inline-block;
  border-left-style: solid;
  border-left-color: #3c3c3c;
  border-left-width: 2px;
  border-right-style: solid;
  border-right-color: #3c3c3c;
  border-right-width: 2px;
}
.header-button :hover {
  opacity: 0.5;
}

.header__search-and-social {
  display: flex;
  justify-content: flex-end;
}
.header__search-and-social :not(:first-child) {
  border-left: none;
}